{% include 'category/base.html' %}
{% block content %}
    <div class="row mt-4 ml-3 mr-3">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="/media/{{ object.preview }}" class="img-fluid rounded-start" alt="логотип">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
<hr>

{% endblock %}